body * {
  box-sizing: border-box;/* includes borders & padding  into size calculation*/
}
html {
  height: 100%;/* needed so can be inherited & used by body */
}
body {
  height: 100%;/* it can grow */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 0;/* reset */
}
section {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;/* fill up whole space avalaible */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;/* inbrication for side by side same height children */
}
header {
  background: #7092BF;
  width: 100%;
  /* no height or flex value needed */
}
main {
  background: #9AD9EA;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1/* fill up whole space avalaible */
}
aside {
  width: 14em;/* any value/unit */
  background: #3E48CC
}




.dashboardnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #143054;
}

.dashboardnav li:first-child {
  float: left;
}

.dashboardnav li {
  float: right
}

.dashboardnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.sidenav-menu {
  list-style-type: none;
  margin: 0;
  padding: 2em;
}

.sidenav-menu li {
  float: left;
}

.sidenav-menu li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  margin-bottom: 1em;
}


.body-container{
  display: flex;
  flex-direction: column;
}