<aside>

    <ul class="sidenav-menu">
        <li><a href="/cms/seitenverwaltung"><i class="fa-solid fa-file-lines fa-lg"></i>Seitenverwaltung</a></li>
        <li><a href="/cms/nutzerverwaltung"><i class="fa-solid fa-user fa-lg"></i>Nutzerverwaltung</a></li>
        <li><a href="/cms/medienverwaltung"><i class="fa-solid fa-image fa-lg"></i>Medienverwaltung</a></li>
        <li><a href="/cms/einstellungen"><i class="fa-solid fa-gear fa-lg"></i>Einstellungen</a></li>
    </ul>

</aside>