<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesheetprivate.css">
    <title>Einstellungen</title>

    <link rel="stylesheet" href="/css/all.min.css" />

    <script src="/js/fetchApi.js"></script>
    <script type="text/javascript" src="/js/auth/logout.js"></script>
    <script type="text/javascript" src="/js/auth/session.js"></script>
</head>

<body>

    <header>

        <ul class="dashboardnav">
            <a href="/cms/dashboard">DASHBOARD</a>
            <div class="nav-info">
                <p id="username"></p>
                <button class="logout-btn" onclick="logoutUser()">Abmelden</button>
            </div>
        </ul>

    </header>


    <section>

        <%- include('partials/_sideNav') %>

            <main>

                <div style="display: flex;flex-flow: column;height: 100%;width: 100%;">

                    <h1>CSS:</h1>

                    <form id="editCssForm" name="editCssForm"
                        style="height: 100%;display: flex; flex-flow: column;align-items: flex-end;">
                        <textarea style="height: 100%;width: 100%;
                            padding: 20px;
                                        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                                        border: none;
                                        resize: none;" id="css" name="css"
                            placeholder="Hier CSS einfügen"><% if(cssData){ %><%= cssData %><% } %></textarea>
                        <script> var cssData = '<%-cssData%>'</script>
                        <div style="height: 60px;">
                            <button type="button" class="editor-btn" onclick="formSaveCss()">Speichern</button>
                            <button type="button" class="editor-btn" onclick="formGetInitialCss()">Zurücksetzen</button>
                        </div>
                    </form>


                </div>



            </main>


    </section>



    <script src="/js/einstellungen/einstellungen.js"></script>
</body>

</html>