<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesheetprivate.css">
    <title>Login</title>


    <script type="text/javascript" src="/js/fetchApi.js"></script>
</head>
<body class="login-site">

    <div class="login-layout">

        <div class="loginbox">

            <form id="loginForm" name="log inForm">
                <h1>NUTZERLOGIN</h1>
        
                <input type="text" name="username" placeholder="Benutzerkennung" value=""><br>
        
                <input type="password"  name="password" placeholder="Passwort" value=""><br><br>
        
                <input type="submit" value="Login">
            </form> 
        
        
        
        </div>
    </div>

<script>


</script>

<script type="text/javascript" src="/js/auth/login.js" defer></script>

</body>
</html>