<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesheetprivate.css">
    <title>Medienverwaltung</title>

    <link rel="icon" type="image/x-icon" href="/img/logo.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

        <script src="/js/fetchApi.js"></script>
        <script type="text/javascript" src="/js/auth/logout.js"></script>
</head>

<body>

    <header>

        <ul class="dashboardnav">
            <li><a href="/cms/dashboard">Dashboard</a></li>
            <li><button onclick="logoutUser()">Abmelden</button></li>
        </ul>

    </header>


    <section>
        <aside>

            <ul class="sidenav-menu">
                <li><a href="/cms/seitenverwaltung">Seitenverwaltung</a></li>
                <li><a href="/cms/nutzerverwaltung">Nutzerverwaltung</a></li>
                <li><a href="/cms/medienverwaltung">Medienverwaltung</a></li>
            </ul>

        </aside>

        <main>



            <div class="content-header">
                <h1>Medienverwaltung</h1>
                <button class="trigger" id="modal-upload-media-trigger">Upload</button>
            </div>



            <div class="content-main">

                <table id="medienverwaltung" width="100%" >
                    <tr>
                        <th width="50%">Bezeichnung</th>
                        <th width="30%">Link</th>
                        <th width="10%">Erstellt am</th>
                        <th width="10%">Optionen</th>
                    </tr>

                    
                </table>

            </div>


        </main>


    </section>

    


    <script src="/js/medienverwaltung/upload-media-modal.js"></script>
    <script src="/js/medienverwaltung/medienverwaltung.js"></script>
    <script src="/js/medienverwaltung/view-media-modal.js"></script>
</body>

</html>