<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesheetprivate.css">
    <title>Medienverwaltung</title>

    <link rel="icon" type="image/x-icon" href="data:,">

    <link rel="stylesheet" href="/css/all.min.css"/>

        <script src="/js/fetchApi.js"></script>
        <script type="text/javascript" src="/js/auth/logout.js"></script>
</head>

<body>

    <header>

        <ul class="dashboardnav">
            <a href="/cms/dashboard">DASHBOARD</a>
            <button class="logout-btn" onclick="logoutUser()">Abmelden</button>
        </ul>

    </header>


    <section>
        <aside>

            <ul class="sidenav-menu">
                <li><a href="/cms/seitenverwaltung"><i class="fa-solid fa-file-lines fa-lg"></i>Seitenverwaltung</a></li>
                <li><a href="/cms/nutzerverwaltung"><i class="fa-solid fa-user fa-lg"></i>Nutzerverwaltung</a></li>
                <li><a href="/cms/medienverwaltung"><i class="fa-solid fa-image fa-lg"></i>Medienverwaltung</a></li>
            </ul>

        </aside>

        <main>



            <div class="content-header">
                <h1>Medienverwaltung</h1>
                <button class="trigger header-button" id="modal-upload-media-trigger">Upload</button>
            </div>



            <div class="content-main">

                <table id="medienverwaltung" class="styled-table"></table>

            </div>


        </main>


    </section>


    <script>
        
        const registerServiceWorker = async () => {
  if ("serviceWorker" in navigator) {
    try {
      const registration = await navigator.serviceWorker.register("../sw.js", {
       
      });
      if (registration.installing) {
        console.log("Service worker installing");
      } else if (registration.waiting) {
        console.log("Service worker installed");
      } else if (registration.active) {
        console.log("Service worker active");
      }
    } catch (error) {
      console.error(`Registration failed with ${error}`);
    }
  }
};

// …

registerServiceWorker();


    </script>
    


    <script src="/js/medienverwaltung/upload-media-modal.js"></script>
    <script src="/js/medienverwaltung/medienverwaltung.js"></script>
    <script src="/js/medienverwaltung/view-media-modal.js"></script>
</body>

</html>