<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesheetprivate.css">
    <title>Medienverwaltung</title>

    <link rel="stylesheet" href="/css/all.min.css"/>

        <script src="/js/fetchApi.js"></script>
        <script type="text/javascript" src="/js/auth/logout.js"></script>
        <script type="text/javascript" src="/js/auth/session.js"></script>
</head>

<body>

    <header>

        <ul class="dashboardnav">
            <a href="/cms/dashboard">DASHBOARD</a>
            <div class="nav-info">
                <p id="username"></p>
                <button class="logout-btn" onclick="logoutUser()">Abmelden</button>
            </div>
        </ul>

    </header>


    <section>
        
        <%- include('partials/_sideNav') %>

        <main>



            <div class="content-header">
                <h1>Medienverwaltung</h1>
                <button class="trigger header-button" id="modal-upload-media-trigger">Upload</button>
            </div>



            <div class="content-main">

                <table id="medienverwaltung" class="styled-table"></table>

            </div>


        </main>


    </section>

    <script src="/js/medienverwaltung/upload-media-modal.js"></script>
    <script src="/js/medienverwaltung/medienverwaltung.js"></script>
    <script src="/js/medienverwaltung/view-media-modal.js"></script>
</body>

</html>