<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/stylesheetprivate.css">
    <title>Seitenverwaltung</title>

    <link rel="icon" type="image/x-icon" href="/img/logo.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script type="text/javascript" src="../../js/fetchApi.js"></script>
    <script type="text/javascript" src="/js/auth/logout.js"></script>
</head>
<body>

    <header>

        <ul class="dashboardnav">
            <a href="/cms/dashboard">DASHBOARD</a>
            <button class="logout-btn" onclick="logoutUser()">Abmelden</button>
        </ul>

    </header>


    <section>
        <aside>

            <ul class="sidenav-menu">
                <li><a href="/cms/seitenverwaltung"><i class="fa-solid fa-file-lines fa-lg"></i>Seitenverwaltung</a></li>
                <li><a href="/cms/nutzerverwaltung"><i class="fa-solid fa-user fa-lg"></i>Nutzerverwaltung</a></li>
                <li><a href="/cms/medienverwaltung"><i class="fa-solid fa-image fa-lg"></i>Medienverwaltung</a></li>
            </ul>

        </aside>

        <main>



            <div class="content-header">
                <h1>Seitenverwaltung</h1>
                <button class="trigger header-button" id="modal-site-create-trigger">Seite erstellen</button>
            </div>
            
            <div class="content-main">

                <table id="seitenverwaltung" class="styled-table"></table>

            </div>




    

            
        </main>


    </section>

        <!-- Create Site Modal -->
        <div class="modal" id="modal-site-create">
            <div class="modal-content">
                <span class="close-button" id="modal-site-create-close-button">&times;</span>
                <h1>Neue Seite anlegen:</h1>
                <form name="createSiteForm">
                    <label for="titel">Titel:</label><br>
                    <input type="text" id="titel" name="titel"><br>
                    <label for="autor">Autor:</label><br>
                    <input type="text" id="autor" name="autor"><br>
                    <label for="beschreibung">Beschreibung:</label><br>
                    <input type="text" id="beschreibung" name="beschreibung"><br>
                    <label for="layout">Layout:</label><br>
                    <select name="layout" id="layout">
                        <option value="Hauptseite">Hauptseite</option>
                        <option value="Unterseite">Unterseite</option>
                    </select><br>
    
                    <input type="submit" value="Erstellen">
                </form>
            </div>
        </div>


    <script type="text/javascript" src="../../js/seitenverwaltung/seitenverwaltung.js" defer></script>
    <script type="text/javascript" src="../../js/seitenverwaltung/create-site-modal.js" defer></script>
    


</body>
</html>