<%- include('partials/_header') %>
<%- include('partials/_mainNav') %>
    
    
    <main>
        <h2>Dies ist eine Platzhalter Seite. Um eigene Seiten zu gestalten, melden Sie sich bitte unter "/cms/login" an.</h2>
    </main>

<%- include('partials/_footer') %>