<%- include('partials/_header') %>
                <%- include('partials/_subNav') %>
                    
                <main>
                    <%- site.inhalt %>
                </main>
                
                <%- include('partials/_footer') %>