<%- include('partials/_header') %>
            <%- include('partials/_mainNav') %>
                
                
                <main>
                <%- site.inhalt %>
                </main>

            <%- include('partials/_footer') %>